# This file is maintained by Salt. 
# Do not attempt to edit by hand.  Instead, update the pillar data for this minion
# =========================
{%- for cfgkey, cfgvalue in gridengine.config.iteritems() %}
{{ cfgkey|upper }}={{ cfgvalue }}
{%- endfor %}